* {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
}

body {
    background-image: url("https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F750037840%2F0x0.jpg%3Ffit%3Dscale");
    font-size: 100%;
}

h2 {
    font-weight: 200;
    font-weight: bold;
    color: orange;
}