* {cursor:help;}

body {
    background-color: aqua; 
    background-image: url("https://static.wikia.nocookie.net/egg-inc/images/f/ff/Trophy_Bronze.png/revision/latest?cb=20180623184108");
    background-repeat: inherit;
    background-color: grey;
    color: white;
}
 #title {
   border-style: solid;
   margin-bottom: 2px solid black;
 
 }
 #Names {
     font-family: Arial;
     text-align: left;
     float: left;
     border: solid;
     padding: 5px;
     margin-left: 5%;
 }
 
 h1 {
     font-family: Arial;
     font-weight: bold;
     text-align: center;
 }
 
 #Numbers {
     float: right;
     font-family: Arial;
     text-align: right;
     margin-right: 10%;
     margin-top: 20px;
     border: solid;
 }